.error {
  position: absolute;
  padding-left: 35px;
  padding-top: 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  display: block;
}

@media screen and (max-width: 500px) {
  .error {
    max-width: 230px;
    padding-left: 28px;
  }
}
