.header {
  max-width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    padding-bottom: 31px;
  }
}
